/AttributeLazyLoadingJacksonSerialization/target/
/AttributeLazyLoadingWithConditionAndDefaults/target/
/AttributeLazyLoadingBasic/target/
/HibernateSpringBootAttributeLazyLoadingBasic/target/
/HibernateSpringBootAttributeLazyLoadingJacksonSerialization/target/
/HibernateSpringBootAttributeLazyLoadingWithConditionAndDefaults/target/
/HibernateSpringBootAudit/target/
/HibernateSpringBootEnvers/target/
/HibernateSpringBootCalculatePropertyPostLoad/target/
/HibernateSpringBootCalculatePropertyFormula/target/
/HibernateSpringBootCalculatePropertyFormula - Copy/target/
/HibernateSpringBootCalculatePropertyGenerated/target/
/P228_BatchInserts/target/
/HibernateSpringBootBatchInsertsSpringStyle/target/
/HibernateSpringBootAutoGeneratorType/target/